.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 18px;
  z-index: 12;
  width: 100%;
}

.header_logo {
  height: 20px;
  object-fit: contain;
  padding-left: 16px;
}

.header_left {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  flex-shrink: 0;
  position: relative;
}

.header_left button {
  border: none;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.header_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  min-width: 225px;
  color: white;
  cursor: pointer;
}
