* {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

.headerLogo {
  height: 20px;
  object-fit: contain;
  padding-left: 16px;
}

.headerLeft {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  color: white;
  padding: 5px;
  flex-shrink: 0;
}

.headerRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  min-width: 225px;
  color: white;
  cursor: pointer;
}
