.sidebar_container {
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar_container_active {
  padding: 0;
}
.sidebar_container:first-child {
  border-top: none;
}

.sidebar_container h3 {
  font-size: 14px;
  display: block;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  min-width: 0;
  color: #aaa;
}

.sidebar_row {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0px 24px;
}

.sidebar_row_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 74px;
  width: 100%;
  padding: 0;
}

.sidebar_button {
  color: #909090;
  border: none;
  background: none;
  min-width: 24px;
  padding-bottom: 6px;
}

.sidebar_title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  width: 100%;
}

.sidebar_title_active {
  text-align: center;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  white-space: nowrap;
  font-weight: 400;
}

.sidebar_row:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
  cursor: pointer;
}

.sidebar_row:hover > .sidebar_button {
  color: white;
}

.sidebar_row:hover > .sidebar_title {
  font-weight: bold;
}
